@import './base.css';

/* start header */
header {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    background-color: #fff;
    z-index: 9;
}

.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

header .logo img {
    width: 35px;
}

header .logo a {
    color: var(--mainColor);
}

header .nav a {
    color: #101928;
}

header .auth a {
    font-family: var(--subFont);
    padding: 10px 30px;
    border-radius: 5px;
}

header .auth a:first-of-type {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

header .auth a:last-of-type {
    background-color: var(--mainColor);
    color: #fff;
}

.bars-menu{
    display: none;
}

@media (max-width:950px) {
    .nav {
        display: none;
    }
    .bars-menu{
        display: inline-block;
        order: 1;
    }
    .auth{
        display: none;
    }
}
@media (max-width:400px) {
    /* .container{
        width: calc(100% - 40px);
    } */
    .logo a{
        display: none;
    }
}

/* end header */


/*start testimonials*/
.testimonials{
    text-align: center;
    padding: 40px 0;
}
.testimonials h2{
    margin-bottom: 20px;
}
.testimonials .row{
    gap: 40px;
}
.testimonial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc( (100% - 40px) / 2 );
    align-items: flex-start;
    box-shadow: 5px 14.6474391222000122px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    flex-basis: 400px;
    flex-grow: 1;
}
.testimonial :after{
    content: '';
    border-top: 50px solid #F4F4F4;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    /* border-right: 30px solid transparent; */
    position: absolute;
    top: 0;
    right: 0;
    /* transform: rotate() ; */
}
.testimonial .user-info{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.testimonials .user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}
.testimonial .user-info .user-data span{
    font-size: 12px;
    color: #646464;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.testimonial q{
    color: #696969;
}
.testimonial blockquote p{
    display: inline-block;
    padding: 0 10px;
}

@media (max-width: 950px) {
    .testimonial .row{
        flex-direction: column;
    }
    .testimonial blockquote p{
        font-size: 14px;
    }
}
/* end testimonial */

/* start footer */
.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #fff;
}

.footer .row {
    gap: 40px;
}

/* .footer .footer-start,
.footer .footer-end {
    width: calc((100% - 40px) / 2);
} */

.footer .footer-start {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: 400px;
    flex-grow: 1;
}

.footer .footer-start .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer .footer-start img {
    width: 35px;
}

.footer .footer-start .logo a {
    font-size: 14px;
}

.footer .footer-start p {
    color: #F4F4F4;
    line-height: 20px;
    font-weight: 200;
}
.footer .footer-start .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer .footer-start .icons img {
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: content-box; /*لما عملت بادنج وهاي الجملة ما كانت موجودة اختفت الصور, وهاي المشكلة فقط في SVG,
    الانه الباندج بوخذ من الويدث لخطوط صورة SVG
    علشان هيك بعمل box-sizing: contect-box
    بتخليهم مثل ما هم وبتزيد الويدث والهايت عادي*/
}
.footer .footer-end{
    flex-grow: 1;
}
.footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
@media (max-width: 400px) {
    .footer-start{
        text-align: center;
        align-items: center;
    }
}
/* end footer */